@model ProfileIndexVM
@{
    ViewData["Title"] = "Index";
    Constants constants = new Constants();
}

<div>
    <aside id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Change your profile here</h4>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-pills">
                        <li class="active">
                            <a href="#1a" data-toggle="tab">Profile picture</a>
                        </li>
                        <li>
                            <a href="#2a" data-toggle="tab">Cover picture</a>
                        </li>
                    </ul>
                    <div class="tab-content clearfix">
                        <div class="tab-pane active" id="1a">
                            <form asp-action="Change" method="post" enctype="multipart/form-data" class="profilePictureForm">
                                <div class="form-group">
                                    <label asp-for="UploadedProfileImage" id="fileLabel-profile" class="control-label">
                                        Change profile picture
                                        <input type="file" asp-for="UploadedProfileImage" class="form-control">
                                    </label>
                                    <p>
                                        <span asp-validation-for="UploadedProfileImage" class="text-danger"></span>
                                    </p>
                                    <img id="preview-profile" class="preview" src="~/images/preview.png" alt="your image" width="400" />
                                    <input type="hidden" asp-for="ProfilePicture" value="ProfilePicture" />
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Change" class="btn btn-success" />
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="2a">
                            <form asp-action="Change" method="post" enctype="multipart/form-data" class="profilePictureForm">
                                <div class="form-group">
                                    <label asp-for="UploadedCoverImage" id="fileLabel-cover" class="control-label">
                                        Change cover picture
                                        <input type="file" asp-for="UploadedCoverImage" class="form-control">
                                    </label>
                                    <p>
                                        <span asp-validation-for="UploadedCoverImage" class="text-danger"></span>
                                    </p>
                                    <img id="preview-cover" class="preview" src="~/images/preview.png" alt="your image" width="400" />
                                    <input type="hidden" asp-for="CoverPicture" value="CoverPicture" />
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Change" class="btn btn-success" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        @*</div>*@
    </aside>
    <header id='coverPicture'
            style='background-image: url(@Url.Content($"https://{constants.apiLanAddress}/api/users/CoverPicture/{Model.me.CoverPicture}")),
                                     url(/images/default.jpg)'>
        <section class='inner'>
            <div class="row">
                <div class="col-md-11">
                    <img src="https://@constants.apiLanAddress/api/users/ProfilePicture/@(Model.me.ProfilePicture)" alt="@Model.me.ProfilePicture"
                         onerror="this.src='/images/default.png'" id="profilePicture" />
                    <h2>@Model.me.UserName</h2>
                </div>
                <div class="col-md-1">

                    <img id='wheel' src='~/images/settings.png' alt='Edit profile' title='Edit profile' height='30' data-toggle="modal" data-target="#myModal">

                </div>
            </div>
        </section>
    </header>
</div>

<div class="list-group row userInfo" id="profileInfo">
    <h2>Information about trainer {{username}}</h2>
    <nav class="col-md-4">
        <ul class="links">
            <li class="list-group-item list-group-item-action active" v-on:click="getUserInfo($event)">Personal info</li>
            <li class="list-group-item list-group-item-action" v-on:click="getPokeInfo($event)">Pokemon info</li>
            <li class="list-group-item list-group-item-action" v-on:click="getFriendsInfo($event)">Friends</li>
        </ul>
    </nav>
    <div class="information col-md-7">
        <img src="~/images/editPencil.png" id="editPencil" class="editUserInfo" v-on:click="editMode($event)" />
        <article id="userInfo">
            <h3>Personal information about me</h3>
            <form>
                <div class="form-group">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" disabled class="form-control" v-model="firstname">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" disabled class="form-control" v-model="lastname">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" disabled class="form-control" v-model="username">
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div>
                    <button id="saveUserInfo" type="button" class="btn btn-success" v-on:click="saveUserInfo($event)">
                        Update user info
                    </button>
                </div>
            </form>
        </article>
        <article id="pokeInfo" hidden>
            <h3>My Pokemon interests</h3>
            <form method="post">
                <div class="form-group">
                    <label asp-for="FavoritePokemon">Favorite Pokemon</label>
                    <input asp-for="FavoritePokemon" name="FavoritePokemon" disabled class="form-control" v-model="favPoke">
                    <span asp-validation-for="FavoritePokemon" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FavoritePokemonGame">Favorite Pokemongame</label>
                    <input asp-for="FavoritePokemonGame" name="FavoritePokemonGame" disabled class="form-control" v-model="favPokegame">
                    <span asp-validation-for="FavoritePokemonGame" class="text-danger"></span>
                </div>
                <div>
                    <button id="savePokeInfo" type="button" class="btn btn-success" v-on:click="savePokeInfo($event)">
                        Update Poke info
                    </button>
                </div>
            </form>
        </article>
        <article id="friendInfo" hidden>
            <h3>Friends overview</h3>
            @{
                foreach (var friend in Model.Friends)
                {
                    <div>
                        <a asp-action="UserProfile" asp-route-username="@(friend.UserName)">
                            <img src="https://localhost:44321/api/users/ProfilePicture/@(friend.ProfilePicture)" alt="@friend.ProfilePicture"
                                 title="open @friend.UserName profile" onerror="this.src='/images/default.png'" /><br />
                            <p>@friend.UserName</p>
                            @*@{
                                    if (friend.FirstName != null && friend.LastName !=null)
                                    {
                                        <p>(@friend.FirstName @friend.LastName)</p>
                                    }
                                }*@
                        </a>
                    </div>
                }
            }
        </article>
    </div>
</div>
<!-- The Modal -->
<div id="imageModal" class="modal">
    <span class="closeModal">&times;</span>
    <img class="imageModal-content" id="img01">
    <div id="caption"></div>
</div>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer venenatis sit amet risus nec ornare. Sed auctor sed odio vitae viverra. Morbi consectetur sem at nisl vehicula imperdiet. Morbi et libero non arcu euismod aliquet vitae eget elit. Nunc faucibus imperdiet nunc, at facilisis velit consectetur dapibus. Curabitur gravida nisi non eros ultrices, aliquam lobortis risus hendrerit. Nam quis dictum augue, eget pretium mauris.
</p>
<p>
    Cras suscipit, leo nec dictum consectetur, diam risus ultrices magna, rhoncus commodo turpis lacus at justo. Duis in lorem placerat, tristique ipsum ac, semper dolor. In hac habitasse platea dictumst. Sed id tortor faucibus, suscipit eros ac, placerat sem. Maecenas aliquam diam ex, sit amet aliquam quam porttitor non. Praesent tincidunt facilisis quam eget rutrum. Vivamus in lorem at metus consequat lobortis quis ut sapien. Nulla mattis sapien nec felis tincidunt, ac tempus est semper. Maecenas porta auctor fermentum. Praesent mauris mi, mattis et mattis fermentum, volutpat eget quam. Mauris eu nisl dolor. Ut aliquam molestie eros.
</p>
<p>
    Morbi eget nulla elit. Donec auctor felis ut pellentesque sagittis. Suspendisse pretium lacus ultrices, fringilla dui vel, porta elit. Donec sit amet mi a nibh sollicitudin aliquet a non purus. Suspendisse congue ex sed est ultrices, a rhoncus turpis consequat. Nulla non metus mollis, lacinia mauris vel, venenatis erat. Nulla sed dolor urna. Mauris at nunc rhoncus, aliquam nunc ut, iaculis dui. Proin rutrum, mauris at lobortis posuere, nulla lorem pellentesque velit, id ornare odio quam ac urna. Aenean rutrum pretium commodo. Sed ac eleifend nibh, in egestas augue. In sit amet justo non tellus dictum rhoncus. Maecenas orci enim, convallis mattis imperdiet sit amet, accumsan et felis.
</p>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer venenatis sit amet risus nec ornare. Sed auctor sed odio vitae viverra. Morbi consectetur sem at nisl vehicula imperdiet. Morbi et libero non arcu euismod aliquet vitae eget elit. Nunc faucibus imperdiet nunc, at facilisis velit consectetur dapibus. Curabitur gravida nisi non eros ultrices, aliquam lobortis risus hendrerit. Nam quis dictum augue, eget pretium mauris.
</p>
<p>
    Cras suscipit, leo nec dictum consectetur, diam risus ultrices magna, rhoncus commodo turpis lacus at justo. Duis in lorem placerat, tristique ipsum ac, semper dolor. In hac habitasse platea dictumst. Sed id tortor faucibus, suscipit eros ac, placerat sem. Maecenas aliquam diam ex, sit amet aliquam quam porttitor non. Praesent tincidunt facilisis quam eget rutrum. Vivamus in lorem at metus consequat lobortis quis ut sapien. Nulla mattis sapien nec felis tincidunt, ac tempus est semper. Maecenas porta auctor fermentum. Praesent mauris mi, mattis et mattis fermentum, volutpat eget quam. Mauris eu nisl dolor. Ut aliquam molestie eros.
</p>
<p>
    Morbi eget nulla elit. Donec auctor felis ut pellentesque sagittis. Suspendisse pretium lacus ultrices, fringilla dui vel, porta elit. Donec sit amet mi a nibh sollicitudin aliquet a non purus. Suspendisse congue ex sed est ultrices, a rhoncus turpis consequat. Nulla non metus mollis, lacinia mauris vel, venenatis erat. Nulla sed dolor urna. Mauris at nunc rhoncus, aliquam nunc ut, iaculis dui. Proin rutrum, mauris at lobortis posuere, nulla lorem pellentesque velit, id ornare odio quam ac urna. Aenean rutrum pretium commodo. Sed ac eleifend nibh, in egestas augue. In sit amet justo non tellus dictum rhoncus. Maecenas orci enim, convallis mattis imperdiet sit amet, accumsan et felis.
</p>


@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/preview.js"></script>
    <script src="~/js/vue.js"></script>
    <script src="~/js/vueProfile.js"></script>
}