@model ExploreCatchVm
@{
    ViewData["Title"] = "Gotcha";
}


<div class="row gotcha">
    <div class="congrats">
        <h2>Gotcha</h2>

        <div>Congratulations <span>@Model.UserName!</span></div>

        <p>You caught @Model.AppearedPokemon.Pokemon.Name</p>
    </div>

    <img src="@(Model.BaseUri)/pokemons/PokemonPicture/@(Model.AppearedPokemon.Pokemon.ImgUrl)/@(Model.FolderType)" class="caughtPokemon"
         alt="@(Model.AppearedPokemon.Pokemon.Name)" title="Caught @(Model.AppearedPokemon.Pokemon.Name)" /><br />

    <button type="submit" class="pokeball noclick" title="Go Pokeball!">
        <div class="stars">
            <img src="~/images/star.png" class="star1" />
            <img src="~/images/star.png" class="star2" />
            <img src="~/images/star.png" class="star3" />
        </div>
        <img src="~/images/Backgrounds/Pokeball.png" class="pokeballStar" alt="Pokeball" />
    </button>
    <a asp-controller="Home" asp-action="Index">Return to home or wait <span id="gotchaTimer">10</span> seconds</a>
</div>
