@model OpenExistingChatVM
@{
    ViewData["Title"] = "OpenExistingChat";
}

<div id="chat">
    <aside id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Change the chat details here</h4>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-pills">
                        <li class="active">
                            <a href="#1a" data-toggle="tab">Chat details</a>
                        </li>
                        <li>
                            <a href="#2a" data-toggle="tab">User management</a>
                        </li>
                    </ul>
                    <div class="tab-content clearfix">
                        <div class="tab-pane active chatSettings" id="1a">
                            <p id="feedbackError" class="text-danger"></p>
                            <form enctype="multipart/form-data">
                                <div class="form-group">
                                    <label asp-for="Chat.Name"></label>
                                    <input asp-for="Chat.Name" class="form-control" v-model="chatName">
                                    <span asp-validation-for="Chat.Name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Chat.Image" id="fileLabel-cover" class="control-label">
                                        Change cover picture
                                        <input type="file" asp-for="Chat.Image" class="form-control" ref="file" v-on:change="prepareFileUpload()">
                                    </label>
                                    <p>
                                        <span asp-validation-for="Chat.Image" class="text-danger"></span>
                                    </p>
                                    <img id="preview-chatImage" class="preview" v-bind:src="chatPreview" alt="your image" width="400" />
                                </div>
                                <div>
                                    <button id="saveChatInfo" type="button" v-on:click="uploadChatImage($event)">
                                        Update chat info
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="2a">
                            @*<vc:user-list></vc:user-list>*@
                            <h2>Add new users:</h2>
                            <partial name="Partial/UserListPartial" />
                            <ul id="usersToAdd">
                                <li v-for="user in usersToAdd">
                                    {{user}}<img src="~/images/delete.gif" v-bind:data-user="user" alt="delete" title="remove from selection" width="30" v-on:click="doNotAddUser($event)" />
                                </li>
                                <li><button v-on:click="addUsersToChat($event)" class="btn btn-success">Toevoegen</button></li>
                            </ul>
                            <hr />
                            <h2>Groupmembers:</h2>
                            <ul id="groupmembers">
                                <li v-for="member in groupMembers">
                                    <img src="~/images/delete.gif" v-bind:data-user="member.userName"
                                         alt="delete" title="delete user from chat" width="30" v-on:click="deleteUserFromChat($event)" />
                                    {{member.userName}}
                                </li>
                                @*<li><b>You: {{myUserName}}</b></li>*@
                                <li><a href="LeaveChat/chatId/@(Model.Chat.Id)" class="btn btn-danger">Leave chat</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </aside>
    <div class="row chat chatPageContainer">
        <div class="col-md-4" id="left">
            <img src="~/images/info.png" alt="Chat settings" title="Chat Settings" id="chatSettings" data-toggle="modal" data-target="#myModal" />
            <vc:chat-list></vc:chat-list>
            <img v-bind:src="'https://localhost:44321/api/chats/ChatPicture/' + chatImage"
                 onerror="this.src='/images/Pokemon_logo.svg.png'" width="500" />
        </div>
        <div class="col-md-8 messageDiv" id="right">
            <h2 id="ChatNameTitle">@Model.Chat.Name</h2>
            <input type="hidden" id="userId" value="@(Model.Id)" />
            <input type="hidden" id="chatId" value="@(Model.Chat.Id)" />
            <img src="~/images/loadMore.png" alt="Load more messages" title="Load more messages" id="loadMessagesLink" v-on:click="loadMoreMessages()" />
            <ul id="messagesList" class='speech-bubbles'>
                @{
                    foreach (var message in Model.Chat.Messages)
                    {
                        if (message.Sender.UserName == Model.Me.UserName)
                        {
                            <li class="bubble-me">
                                @{
                                    if (message.ImageName != null)
                                    {
                                        <img src="https://localhost:44321/api/messages/messagePicture/@(message.ImageName)"
                                             alt="@(message.ImageName)" title="@(message.ImageName)" width="200" /><br />
                                    }
                                }
                                <p>@message.Text</p>
                                <span class="time">@message.SendDate</span>
                            </li>
                        }
                        else
                        {
                            <li class="bubble-other">
                                @*<span class='eersteLetter'>@message.Sender.UserName[0]</span>*@
                                <span class='eersteLetter'>@message.Sender.UserName</span>
                                @{
                                    if (message.ImageName != null)
                                    {
                                        <img src="https://localhost:44321/api/messages/messagePicture/@(message.ImageName)"
                                             alt="@(message.ImageName)" title="@(message.ImageName)" width="200" /><br />
                                    }
                                }
                                <p>@message.Text</p><br />
                                <span class="time">@message.SendDate</span>
                            </li>
                        }
                    }
                }
            </ul>
            <form method="post" class="speechForm" id="speech" enctype="multipart/form-data" name="sendForm">
                <div asp-validation-summary="ModelOnly"></div>
                <input asp-for="@(Model.Chat.Id)" type="hidden" id="chatId" />
                <div class="form-group relative">
                    <label for="newImage" id="fileLabel-messageImage" class="control-label">
                        @*<input type="file" name="newImage" id="newImage" class="form-control" ref="file" v-on:change="prepareFileUpload()">*@
                        <input type="file" name="newImage" id="newImage" class="form-control" ref="file">
                    </label>
                    <textarea type="text" name="Text" id="messageInput" v-model="message" class="form-control" required></textarea>
                    <button type="submit" id="sendButton"
                            v-on:click="processSendMessage">
                        <img src="~/images/send.png" />
                    </button><br />
                    <span asp-validation-for="Text" class="text-danger"></span>
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/vue.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/vueChat.js"></script>
    <script src="~/js/chat.js"></script>
    <script src="~/js/preview.js"></script>
    @*<script src="~/lib/signalr/dist/browser/signalr.js"></script>*@
    @*<script src="~/js/chatNotification.js"></script>*@
}