@model OpenExistingChatVM
@{
    ViewData["Title"] = "OpenExistingChat";
}

<div class="row chat chatPageContainer" id="chat">
    <div class="col-md-4" id="left">
            <vc:chat-list></vc:chat-list>
    </div>
    <div class="col-md-8 messageDiv" id="right">
        <h2>@Model.Chat.Name</h2>
        <input type="hidden" id="user" value="@(Model.Me.UserName)" />
        <input type="hidden" id="userId" value="@(Model.Id)" />
        <input type="hidden" id="chatId" value="@(Model.Chat.Id)" />
        <img src="~/images/loadMore.png" id="loadMessagesLink" v-on:click="loadMoreMessages()" />
        <ul id="messagesList" class='speech-bubbles'>
            @{
                foreach (var message in Model.Chat.Messages)
                {
                    if (message.Sender.UserName == Model.Me.UserName)
                    {
                        <li class="bubble-me">
                            <p>@message.Text</p>
                            <span class="time">@message.SendDate</span>
                        </li>
                    }
                    else
                    {
                        <li class="bubble-other">
                            <span class='eersteLetter'>@message.Sender.UserName[0]</span>
                            <p>@message.Text</p><br />
                            <span class="time">@message.SendDate</span>
                        </li>
                    }
                }
            }
        </ul>
        @*<ul id="messagesList" class='speech-bubbles'>
        </ul>*@
        <form method="post" class="speechForm" id="speech">
            <div asp-validation-summary="ModelOnly"></div>
            <input asp-for="@(Model.Chat.Id)" type="hidden" id="chatId" />
            <div class="form-group relative">
                <textarea type="text" name="Text" id="messageInput" v-model="message" class="form-control" required></textarea>
                <button type="submit" id="sendButton"
                        v-on:click="sendMessage">
                    <img src="~/images/send.png" />
                </button><br />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

@section scripts{
    <script src="~/js/vue.js"></script>
    <script src="~/js/vueChat.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
    @*<script src="~/lib/signalr/dist/browser/signalr.js"></script>*@
    @*<script src="~/js/chatNotification.js"></script>*@
}