@model HomeIndexVM
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <aside id="myModal" class="modal fade friendRequests">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Friend requests @Model.FriendsToApprove.Count()</h4>
                </div>
                <div class="modal-body">
                    <h3>{{ loadingMessage }}</h3>
                    <ul>
                        @{
                            foreach (var friend in Model.FriendsToApprove)
                            {
                                <div class="row">
                                    <div class="col-md-4">
                                        <img src="https://localhost:44321/api/users/ProfilePicture/@(friend.ProfilePicture)" alt="@friend.ProfilePicture"
                                             onerror="this.src='/images/default.png'" id="RequestProfilePicture" />
                                    </div>
                                    <div class="col-md-4">
                                        <a asp-controller="Profile" asp-action="UserProfile" asp-route-username="@(friend.UserName)">@friend.UserName</a>
                                        <p>@friend.FirstName @friend.LastName</p>
                                    </div>
                                    <div class="col-md-4">
                                        <form>
                                            <button type="submit">Approve</button>
                                        </form>
                                    </div>
                                </div>
                            }
                        }
                    </ul>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </aside>
    <aside class="col-md-2 sideBar">
        <a asp-controller="Profile" asp-action="index">
            <img src="https://localhost:44321/api/users/ProfilePicture/@(Model.Me.ProfilePicture)" alt="@Model.Me.ProfilePicture"
                 onerror="this.src='/images/default.png'" id="profilePicture" />
            <p>Profile page</p>
        </a>
        <img src="~/images/friendRequests.png" alt="Friend Requests" title="Friend Requests" 
             id="friendRequests" data-toggle="modal" data-target="#myModal"/>
        <vc:chat-list></vc:chat-list>
    </aside>
    <main class="col-md-10" id="pokeTimeLine">
        <h2>Pokebook timeline here</h2>
        <div id="posts">
            @*Hier komen alle time line posts via Vue.js*@
            <h3>{{ loadingMessage }}</h3>
            @{
                List<string> testPostList = new List<string> { "Post 1", "Post 2", "Post 3" };
                foreach (var post in testPostList)
                {
                    <div>@post</div>
                }
            }
        </div>
    </main>
</div>

@section scripts{
    <script src="~/js/vue.js"></script>
    <script src="~/js/timeLine.js"></script>
    <script src="~/js/friendRequests.js"></script>
}